/* Name: Nathan senanayake 

Course: PTEC 

Teacher:  A. Hoitink

School: Ptc 

Date Last Modified: june 5 */

/* Set background for everything */
body {
  background-color: #f0f0f0;
}

/* Style the big title at the top */
h1 {
  color: white;
  padding-top: 10px; /* Space above the title */
  text-align: center; /* Center the text */
  font-size: 60px; /* Make the text big */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  border: 8px solid #cccccc;
  padding: 11px;
  background-color: #e0f0fa;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: #0f2b46;
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
}

/* Hover effect for navbar links */
nav a:hover {
  background-color: #00d5ff;
  color: whitesmoke;
  border-radius: 6%;
}

/* Style the input boxes */
input {
  background-color: white; /* White background */
  width: 70%; /* Set width */
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: rgb(80, 80, 80);
  margin-bottom: 20px;
}

/* Style the text area box (for longer text) */
textarea {
  background-color: white;
  width: 70%;
  margin-left: 12%;
  font-size: 20px;
  padding: 16px 16px;
  border-radius: 10px;
  border-color: black;
  margin-bottom: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Change input border when clicked */
input:focus-within {
  outline: none; /* Remove blue glow */
  border-color: black;
  border-width: 3px;
}

/* Change textarea border when clicked */
textarea:focus-within {
  outline: none;
  border-color: #5bd183; /* Green border */
  border-width: 3px;
}

/* Style the button */
button {
  border-color: white;
  border-radius: 20px; /* Round edges */
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto; /* Center the button */
}

/* Change button when mouse is on it */
button:hover {
  opacity: 80%; /* Make it a bit see-through */
  cursor: pointer; /* Show pointer hand */
}

.zoomon {
  animation: zoomIn 0.6s ease-in-out forwards;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
