body {
  background-color: #d9d9d9;
}





.navbar {
    border: 8px solid #cccccc;
    padding: 11px;
    background-color: #add8e6;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: #0f2b46;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
  


/* Hover effect for navbar links */
nav a:hover {
  background-color: #00d5ff; /* Brown background */
  color: whitesmoke;
  border-radius: 6%;
}

.a1234 {
  position: relative;
}

.hero-content {
  color: #ffffff;
  top: 70px;
  text-align: center;
  font-size: xx-large;
}

.btn {
  padding: 0.8rem 1.5rem;
  background: #7f807f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn:hover {
  background-color: #6a6b6a; /* change on hover */
  transform: scale(1.05);
}

.top-deals {
  padding: 3rem 2rem;
  text-align: center;
  background-color: #d9d9d9;
  flex-wrap: wrap; /* Wrap cards on smaller screens */
}

.deal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 1rem;
}

.deal-card {
  background: #f9fafb;
  border-radius: 6%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 350px;
  text-align: center;
  transition: transform 0.3s ease; /* Smooth scaling */
  overflow: hidden; /* Hide overflow */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Subtle shadow */
}

.deal-card:hover {
  transform: scale(1.05);
}

.deal-card img {
  width: 90%; /* Full width */
  height: auto; /* Maintain aspect ratio */
  display: block;
}

.deal-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 1rem;
}
